<!--
/*
 * ADOBE CONFIDENTIAL
 * ___________________
 *
 * Copyright 2026 Adobe
 * All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of Adobe and its suppliers, if any. The intellectual
 * and technical concepts contained herein are proprietary to Adobe
 * and its suppliers and are protected by all applicable intellectual
 * property laws, including trade secret and copyright laws.
 * Adobe permits you to use and modify this file
 * in accordance with the terms of the Adobe license agreement
 * accompanying it (see LICENSE_ADOBE_PS.txt).
 * If you have received this file from a source other than Adobe,
 * then your use, modification, or distribution of it
 * requires the prior written permission from Adobe.
 */
-->

<!--@subject {{trans "We have received your withdrawal – Order number #%order_id" order_id=$order_increment_id}} @-->
<!--@vars {
"template config_path=\"design\/email\/header_template\"":"Email Header Template",
"var customer_name":"Customer Name",
"var order_increment_id":"Order Increment Id",
"var order_date":"Order Date",
"var support_mail":"Support Email",
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template"
} @-->
{{template config_path="design/email/header_template"}}
<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Hello %customer_name," customer_name=$customer_name}}</p>
        </td>
    </tr>
    <tr>
        <td><br></td>
    </tr>
    <tr class="email-information">
        <td class="email-information-content">
            <p>
                {{trans "We have received your notice of withdrawal dated %order_date placed on #%order_id."
                    order_id=$order_increment_id
                    order_date=$order_date}}
            </p>
            <p>
                {{trans "At the time of your withdrawal, your order was already in the final stages of preparation for dispatch or was already on its way to you. Unfortunately, due to our automated dispatch process, we were unable to stop the delivery. Please contact our customer service team using the contact details below so that we can discuss the next steps for your return."}}
            </p>
            <p>
                {{trans "If you have any questions regarding your cancellation or return, we are always here to help."}}
                {{trans 'Click <a href="%link">here</a> to find out more or email us at shop_de@casio.de. We’re happy to help!.' link=$link |raw}}
            </p>
        </td>
    </tr>
    <tr>
        <td><br></td>
    </tr>
    <tr class="email-intro-support">
        <td>
            <p>{{trans "Kind regards,"}}</p>
            <p>{{trans "Your CASIO Online Shop Team"}}</p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
