<!--
/*
 * ADOBE CONFIDENTIAL
 * ___________________
 *
 * Copyright 2026 Adobe
 * All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of Adobe and its suppliers, if any. The intellectual
 * and technical concepts contained herein are proprietary to Adobe
 * and its suppliers and are protected by all applicable intellectual
 * property laws, including trade secret and copyright laws.
 * Adobe permits you to use and modify this file
 * in accordance with the terms of the Adobe license agreement
 * accompanying it (see LICENSE_ADOBE_PS.txt).
 * If you have received this file from a source other than Adobe,
 * then your use, modification, or distribution of it
 * requires the prior written permission from Adobe.
 */
-->

<!--@subject {{trans "We have received your withdrawal – Order number #%order_id" order_id=$order_increment_id}} @-->
<!--@vars {
"template config_path=\"design\/email\/header_template\"":"Email Header Template",
"var customer_name":"Customer Name",
"var order_increment_id":"Order Increment Id",
"var order_date":"Order Date",
"var support_mail":"Support Email",
"var is_delivered": "Is Delivered",
"var not_delivered": "Not Delivered",
"var sent_to_e1": "Sent to E1",
"var not_send_to_e1": "Not sent to E1",
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template"
} @-->
{{template config_path="design/email/header_template"}}
<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Hello %customer_name," customer_name=$customer_name}}</p>
        </td>
    </tr>
    <tr>
        <td><br></td>
    </tr>
    <tr class="email-information">
        <td class="email-information-content">
            <p>
                {{trans "We have received your notice of withdrawal dated %order_date placed on #%order_id."
                    order_id=$order_increment_id
                    order_date=$order_date}}
            </p>
            {{depend not_send_to_e1}}
            <p>
                {{trans "As your order was still in our warehouse at the time of cancellation and had not yet been dispatched, we were able to cancel it for you immediately. We will inform you shortly in a separate email regarding the refund of your purchase amount. The refund will be processed as quickly as possible – you will usually receive a refund of your payment via the original payment method within 14 days."}}
            </p>
            {{/depend}}
            {{depend sent_to_e1}}
            <p>
                {{trans "We are currently checking the current status of your order and will get back to you as soon as possible – usually on the next working day – with all further information regarding the process."}}
            </p>
            {{/depend}}
            {{depend not_delivered}}
            <p>
                {{trans "We are currently checking the current status of your order and will get back to you as soon as possible – usually on the next working day – with all further information regarding the process."}}
            </p>
            {{/depend}}
            {{depend is_delivered}}
            <p>
                {{trans "As you have already received the goods, we will contact you in a further email with all the necessary information regarding the returns process."}}
            </p>
            {{/depend}}
            <p>
                {{trans "If you have any questions regarding your cancellation or return, we are always here to help."}}
                {{trans Click [here] to find out more or email us at shop_de@casio.de. We’re happy to help!}}
            </p>
        </td>
    </tr>
    <tr>
        <td><br></td>
    </tr>
    <tr class="email-intro-support">
        <td>
            <p>{{trans "Kind regards,"}}</p>
            <p>{{trans "Your CASIO Online Shop Team"}}</p>
        </td>
    </tr>
    <tr>
        <td><br></td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
